body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    font-size: 100%;
    text-align: center;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #4d4d4d;
}

button {
    margin: 5px;
    background-color: #4d4d4d;
    border-radius: 5px;
    border: none;
    color: #8cdcda;
    padding: 5px 5px;  
    cursor: pointer;
    font-size: 100%; */
}

button:hover {
    background-color: #b1d877;
    color: #4d4d4d;
}

li {
    float: left;
}

nav {
    width: 100%;
    margin: auto;
}

input[type=submit] {
    background-color: whitesmoke;
    font-size: 100%;
    color: #4d4d4d;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 10px; 
}

input[type=submit]:hover {
    background-color: #8cdcda;
    color: #4d4d4d;

}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #8cdcda;
    border-radius: 4px;
    resize: vertical;
    font-size: 100%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

footer {
    background: #4d4d4d;
    position: inherit;
    display: block;
    text-align: center;
    color: whitesmoke;
    
}

footer a, form a {
    color: #b1d877;
}

table {
    border-spacing: 1px;
    width: 100%;
    border-collapse: separate;
}

th {
    background-color:#4d4d4d;
    color: #8cdcda;
}

th, td {
    text-align: center;
    padding: 5px;
}

td {
    border: 1px solid grey;
}

tr:nth-child(even) {
    background-color: #8cdcda;
}

tr:hover {
    background-color: grey;
}

.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4d4d;
    top: 0;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
}
    
.top-nav a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav a:hover {
  background-color: #111;
}

.active {
    background-color: #8cdcda;
}

.float-right-nav {
    float: right;
}

/* Hold summarys and links to services offered - Responsive Flex-box model */
.hm-flex-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 500px;
    display: flex;
}

.hm-flex-container .hm-pannel {
    position: relative;
    width: 250px;
    height: 500;
    background: #ccc;
}

.hm-flex-container .hm-pannel:hover {
    transform: scale(1.1);
    z-index: 1;
}

.hm-flex-container .hm-pannel .hm-thumb-half-pannel {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.hm-flex-container .hm-pannel:nth-child(odd) .hm-thumb-half-pannel {
    bottom: 0;
    left: 0;
}

.hm-flex-container .hm-pannel .hm-thumb-half-pannel img {
    width: 100%;
}

.hm-flex-container .hm-pannel .hm-clear-half-pannel {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626;
}

.hm-flex-container .hm-pannel:nth-child(even) .hm-clear-half-pannel {
    bottom: 0;
    left: 0;
}

.hm-flex-container .hm-pannel:nth-child(1) .hm-clear-half-pannel {
    background: #f16a70;
}

.hm-flex-container .hm-pannel:nth-child(2) .hm-clear-half-pannel {
    background: #b1d877;
}

.hm-flex-container .hm-pannel:nth-child(3) .hm-clear-half-pannel {
    background: violet;

}

.hm-flex-container .hm-pannel:nth-child(4) .hm-clear-half-pannel {
    background: #4d4d4d;
}

.hm-flex-container .hm-pannel .hm-clear-half-pannel .hm-box-content {
    position: absolute;
    top: calc(50% - 16%);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}

.hm-flex-container .hm-pannel:hover .hm-clear-half-pannel .hm-box-content {
    top: calc(50%)
}

.hm-flex-container .hm-pannel .hm-clear-half-pannel .hm-box-content .fa {
    font-size: 80px;
    color: whitesmoke
}

.hm-flex-container .hm-pannel .hm-clear-half-pannel .hm-box-content h3 {
    margin: 0;
    padding: 0;
    padding: 10px, 0;
    color: whitesmoke;
}

.hm-flex-container .hm-pannel .hm-clear-half-pannel .hm-box-content a {
    display: inline-block;
    padding: 5px, 20px;
    color: whitesmoke;
    border: solid, 2px, whitesmoke;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 5px;
    transform: scale(0);
}

.hm-flex-container .hm-pannel:hover .hm-clear-half-pannel .hm-box-content a {
    transform: scale(1)
}

.hm-flex-container .hm-pannel .hm-clear-half-pannel .hm-box-content a:hover {
    background: whitesmoke;
    color: #262626;

}

.form-container {
    border-radius: 5px;
    background-color: #4d4d4d;
    padding: 20px;
    margin: auto;
    color: #8cdcda;
}

.col-25 {
    float: left;
    width: 25%;
    padding: 10px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 5px;
}

@media screen and (min-width: 769px){
    .form-container, .profile-container{
        width: 60%;        
    }
}

@media (max-width: 1000px) {
    .hm-flex-container {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;

    }
    .hm-flex-container .hm-pannel {
        height: 250px;
    }
    .hm-flex-container .hm-pannel .hm-thumb-half-pannel {
        display: none;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
    .hm-flex-container {
        display: initial;
    }
    .hm-flex-container .hm-pannel {
        width: 50%;
        height: 250px;
        float: left;
    }   
}

@media (max-width: 480px) {
    nav {
        display: none;
    }
    .hm-flex-container {
        top: 0;
        left: 0;
        transform: translate(0)
    }
    .hm-flex-container .hm-pannel {
        width: 100%;
        height: 250px;
        float: none;
    }    
}

.profile-container {
    border-color: #4d4d4d;
    border-radius: 5px;
    padding: 20px;
    margin: auto; 
}

.checked {
    color: #b1d877;
}

