body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: indigo;
    
}

.hm-flex-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 500px;
    display: flex;
}

.hm-flex-container .hm-box {
    position: relative;
    width: 250px;
    height: 500;
    background: #ccc;
}

.hm-flex-container .hm-box:hover {
    transform: scale(1.1);
    z-index: 1;
}

.hm-flex-container .hm-box .hm-thumb {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.hm-flex-container .hm-box:nth-child(odd) .hm-thumb {
    bottom: 0;
    left: 0;
}

.hm-flex-container .hm-box .hm-thumb img {
    width: 100%;
}

.hm-flex-container .hm-box .hm-details {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626;
}

.hm-flex-container .hm-box:nth-child(even) .hm-details {
    bottom: 0;
    left: 0;
}

.hm-flex-container .hm-box:nth-child(1) .hm-details {
    background: #f16a70;
}

.hm-flex-container .hm-box:nth-child(2) .hm-details {
    background: #b1d877;
}

.hm-flex-container .hm-box:nth-child(3) .hm-details {
    background: violet;

}

.hm-flex-container .hm-box:nth-child(4) .hm-details {
    background: #4d4d4d;
}

.hm-flex-container .hm-box .hm-details .hm-content {
    position: absolute;
    top: calc(50% - 16%);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}

.hm-flex-container .hm-box:hover .hm-details .hm-content {
    top: calc(50%)
}

.hm-flex-container .hm-box .hm-details .hm-content .fa {
    font-size: 80px;
    color: whitesmoke
}

.hm-flex-container .hm-box .hm-details .hm-content h3 {
    margin: 0;
    padding: 0;
    padding: 10px, 0;
    color: whitesmoke;
}

.hm-flex-container .hm-box .hm-details .hm-content a {
    display: inline-block;
    padding: 5px, 20px;
    color: whitesmoke;
    border: solid, 2px, whitesmoke;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 5px;
    transform: scale(0);
}

.hm-flex-container .hm-box:hover .hm-details .hm-content a {
    transform: scale(1)
}

.hm-flex-container .hm-box .hm-details .hm-content a:hover {
    background: whitesmoke;
    color: #262626;

}


@media (max-width: 1000px) {
    .hm-flex-container {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;

    }
    .hm-flex-container .hm-box {
        height: 250px;
    }
    .hm-flex-container .hm-box .hm-thumb {
        display: none;
    }
}

@media (max-width: 768px) {
    .hm-flex-container {
        display: initial;
    }
    .hm-flex-container .hm-box {
        width: 50%;
        height: 250px;
        float: left;
    }    
}


@media (max-width: 480px) {
    .hm-flex-container {
        top: 0;
        left: 0;
        transform: translate(0)
    }
    .hm-flex-container .hm-box {
        width: 100%;
        height: 250px;
        float: none;
    }    
}